uid_start: 7000
gid_start: 6000

users:
  - uid: simone.abisso
    givenName: Simone
    sn: Abisso
    mail: Simone.Abisso@it.ey.com
    # password: OptionalPlainTextPassword
    groups:
      - ey-users

  - uid: bonaventura.derosa
    givenName: Bonaventura
    sn: De Rosa
    mail: bonaventura.derosa@sas.com
    groups:
      - sas-users

groups:
  - name: ey-users
    members: []

  - name: sas-users
    members: []
